<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body class="urls-show-body">
    <% include partials/_header %>
    <div class="urls-show">
    <h2>ShortURL: <%= shortURL%></h2>
    <h2>LongURL: <%= longURL%></h2>
    <form action="/urls/<%= shortURL %>" method="POST">
      <input type="text" name="longURL" placeholder="<%= longURL %>" required="true">
      <button type="submit">Update</button>
    </form>
    <form class="" action="/urls/<%= shortURL %>/delete" method="POST">
      <button type="submit" name="button">Delete</button>
    </form>
    </div>
  </body>
</html>
